* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(240, 240, 240);
    font-size: 18px;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2 {
    margin-top: 4px;
}


section {
    background-color: rgb(35, 181, 211);
    padding: 20px;
    margin: 20px auto;
    color: rgb(22, 22, 66);
    font-size: 1.1em;
    max-width:800px;
}

figcaption {
    font-size: 0.9em;
    font-style: italic;
    opacity: 0.4;
}

nav {
      background-color: rgb(245, 105, 96);
      display:flex;
      justify-content: center;
}

nav div {
      padding: 30px;
      transition: background-color 0.4s ease-out;
      
}
nav a {
      text-decoration: none;
      color: rgb(0, 0, 0)
}

nav div:hover, nav div.selected {
    background-color: white;
    color: rgb(55, 121, 220);
}

header {
      font-family: Oswald;
      font-size: 10vw;
      color: white;
      height: 30vh;
      background-image: url(https://cdn.glitch.me/5a3d7795-1503-406f-af11-bf668cfd6aa7%2Fmuis1.jpg?v=1633437194938);
      background-size: cover;
      background-position: center;
    	align-items: center;
      justify-content: center;
      text-align: center;
      display: flex;
}

footer {
      background-color: rgb(196, 109, 94);
      padding: 20px;
      word-break: break-all;
}
footer div a {
      margin: 20px;
}


@media only screen and (max-width: 600px) {
  nav {
      display: block;
      text-align: center;
  } div {
    padding: 20px
  }
}


section a {
      word-break: break-all;
}